<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NetMode</key>
	<string>Release</string>
	<key>navigationBarTitleColor</key>
	<string>000000</string>
	<key>navigationBarColor</key>
	<string>ffffff</string>
	<key>-------OCR-------</key>
	<string></string>
	<key>ocr_title</key>
	<string>实名认证</string>
	<key>ocr_manual_buttonTitleColor</key>
	<string>4390f7</string>
	<key>ocr_agreement_buttonTitleColor</key>
	<string>4390f7</string>
	<key>ocr_checkbox_fillColor</key>
	<string>323f52</string>
	<key>-------OCR信息核验-------</key>
	<string></string>
	<key>ocr_result_title</key>
	<string>确认姓名</string>
	<key>ocr_result_titleColor</key>
	<string>ffffff</string>
	<key>ocr_result_startButtonBGColor</key>
	<string>323f52</string>
	<key>ocr_result_startButtonTitleColor</key>
	<string>ffffff</string>
	<key>ocr_result_changeButtonTitleColor</key>
	<string>6c9af0</string>
	<key>ocr_result_nameColor</key>
	<string>6c9af0</string>
	<key>ocr_result_explainColor</key>
	<string>555555</string>
	<key>-------活体检测-------</key>
	<string></string>
	<key>live_title</key>
	<string>刷脸</string>
	<key>live_checkbox_fillColor</key>
	<string>323f52</string>
	<key>live_backgroundColor</key>
	<string>ffffff</string>
	<key>live_fillLineColor</key>
	<string>5d70cb</string>
	<key>live_dashLineColor</key>
	<string>5d70cb</string>
	<key>live_bubbleBGColor</key>
	<string>5d70cb</string>
	<key>live_bubbleTitleColor</key>
	<string>ffffff</string>
	<key>-------简版-------</key>
	<string></string>
	<key>ocr_simple_nextButtonBGColor</key>
	<string>323f52</string>
	<key>ocr_simple_nextButtonTitleColor</key>
	<string>ffffff</string>
	<key>ocr_simple_inputTitleBGColor</key>
	<string>323f52</string>
	<key>ocr_simple_inputTitleTextColor</key>
	<string>ffffff</string>
	<key>ocr_simple_startButtonBGColor</key>
	<string>5d6fcb</string>
	<key>ocr_simple_startButtonTitleColor</key>
	<string>ffffff</string>
	<key>-------视频存证-------</key>
	<string></string>
	<key>video_record_title</key>
	<string>视频存证</string>
	<key>video_play_title</key>
	<string>视频预览</string>
	<key>-------驾驶证OCR-------</key>
	<string></string>
	<key>dl_ocr_title</key>
	<string>驾驶证扫描</string>
	<key>dl_ocr_checkbox_fillColor</key>
	<string>323f52</string>
	<key>dl_ocr_agreement_buttonTitleColor</key>
	<string>4390f7</string>
	<key>-------行驶证OCR-------</key>
	<string></string>
	<key>vl_ocr_title</key>
	<string>行驶证扫描</string>
	<key>vl_ocr_checkbox_fillColor</key>
	<string>323f52</string>
	<key>vl_ocr_agreement_buttonTitleColor - 2</key>
	<string>4390f7</string>
	<key>-------银行卡OCR-------</key>
	<string></string>
	<key>bk_ocr_title</key>
	<string>银行卡扫描</string>
	<key>bk_ocr_checkbox_fillColor</key>
	<string>323f52</string>
	<key>bk_ocr_agreement_buttonTitleColor</key>
	<string>4390f7</string>
</dict>
</plist>
